body {
  margin: 0;
  font-family: "Consolas","Microsoft YaHei","黑体","宋体",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnGroup select, .btnGroup button {
  font-family: "Consolas","Microsoft YaHei","黑体","宋体",sans-serif;
  margin-right: 6px;
  width: 120px;
  height: 32px;
}
